html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
label,input[type=button],input[type=submit],button{cursor:pointer;}
video,img,object,embed,iframe{max-width:100%;}
body{color:#fcf9e6;font-family:'p22-underground-n6','p22-underground',sans-serif;font-weight:600;font-size:16px;-webkit-text-size-adjust:100%;}
.poster{text-align:center;text-transform:uppercase;font-size:1.7em;padding-bottom:3em;}
.poster em{font-style:normal;font-size:400%;line-height:1;display:block;}
.poster span{display:block;margin-bottom:0.5em;}
.colophon a,.legalese a,.colophon a:link,.legalese a:link,.colophon a:visited,.legalese a:visited{text-decoration:none;color:#fcf9e6;margin-bottom:-1px;border-bottom:1px dotted #fcf9e6;}
.colophon a:hover,.legalese a:hover,.colophon a:active,.legalese a:active{border-bottom:none;margin-bottom:0;}
.colophon a:focus,.legalese a:focus{outline-color:#fcf9e6;}
.icon{float:left;}
.icon img{display:block;border:none;}
footer{font-size:11px;line-height:15px;font-family:arial,sans-serif;font-weight:300;}
.colophon{line-height:25px;}
footer p{margin-top:4px;vertical-align:center;}
html,body{background:#c3212c;color:#fcf9e6;}
body{margin:0 20%;-webkit-transition:0.3s ease-in;-moz-transition:0.3s ease-in;-o-transition:0.3s ease-in;-ms-transition:0.3s ease-in;transition:0.3s ease-in;}
.logo{text-align:center;display:block;margin:2em auto 3em;width:16.875em;height:auto;-webkit-transition:0.3s ease-in;-moz-transition:0.3s ease-in;-o-transition:0.3s ease-in;-ms-transition:0.3s ease-in;transition:0.3s ease-in;}
footer{text-align:center;padding-bottom:2em;}
footer p{text-align:center;}
.colophon,.icons{display:inline-block;text-align:center;vertical-align:top;}
.icon{padding:0 8px;text-align:center;}
.legalese{clear:both;}
@media only screen and (max-width: 999px){body{font-size:15px;}}@media only screen and (max-width: 910px){body{font-size:14px;margin:0 15%;}}@media only screen and (max-width: 780px){body{font-size:13px;margin:0 10%;}}@media only screen and (max-width: 590px){body{font-size:12px;margin:0 10%;} .logo{width:15em;}}@media only screen and (max-width: 450px){body{font-size:11px;margin:0 10%;} .logo{width:13em;}}@media only screen and (max-width: 370px){body{font-size:10px;margin:0 8%;} .logo{width:12em;} .colophon{display:block;line-height:13px;margin-bottom:5px;}}@media only screen and (max-width: 320px){body{font-size:8px;margin:0 5%;} .logo{width:10em;}}
