body {
  color: @color-text;
  font-family: 'p22-underground-n6', 'p22-underground', sans-serif;
  font-weight: 600;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

.poster {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7em;
}

.poster em {
  font-style: normal;
  font-size: 400%;
  line-height: 1;
  display: block;
}

.poster span {
  display: block;
  margin-bottom: 0.5em;
}

.colophon,
.legalese {
  a, 
  a:link,
  a:visited {
   text-decoration: none;
   color: @color-text;
   margin-bottom: -1px;
   border-bottom: 1px dotted @color-text;
  }
  
  a:hover,
  a:active {
    border-bottom: none;
    margin-bottom: 0;
  }
  
  a:focus {
    outline-color: @color-text;
  }
}

.icon {
  float: left;
}

.icon img {
  display: block;
  border: none;
}

footer {
  font-size: 11px;
  line-height: 15px;
  font-family: arial, sans-serif;
  font-weight: 300;
}

.colophon {
  line-height: 25px;
}

footer p {
  margin-top: 4px;
  vertical-align: center;
}