html, body {
  background: @color-background;
  color: @color-text;
}

body {
  margin: 0 20%;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.logo {
  text-align: center;
  display: block;
  margin: 2em auto 3em;
  width: 16.875em; // 1em = 16px; 270px/16px/1em = 
  height: auto;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

footer {
  text-align: center;
  padding-bottom: 2em;
}

footer p {
  text-align: center;
}

.colophon, .icons {
  display: inline-block;
  text-align: center;
  vertical-align: top;
} 
 
.icon {
  padding: 0 8px;
  text-align: center;
}

.legalese {
  clear: both;
}

.poster {
  padding-bottom: 1.8em;
}

.actions {
  text-align: center;
  padding-bottom: 3em;
}

.button {
  display: inline-block;
  padding: 2px 8px 0px 28px;
  line-height: 1.8em;
  margin: 0 20px;
}

.action {
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: #fff;
  text-decoration: none;

  &:link,
  &:visited {
    opacity: 0.5;
  }
  
  &:hover {
    opacity: 0.9;
  }

  &.reload {
    background: url('../images/icon-reload-24px.png') left center no-repeat;
  }
  &.create {
    background: url('../images/icon-add-24px.png') left center no-repeat;
  }

}