html, body {
  background: @color-background;
  color: @color-text;
}

body {
  margin: 0 20%;
}

.logo {
  text-align: center;
  display: block;
  margin: 2em auto 3em;
  width: 16.875em; // 1em = 16px; 270px/16px/1em = 
  height: auto;
}